*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: weird;
    src: url(./Streetwear.otf);
}

body{
    background-color: rgb(29, 29, 88);
    
}

.container{
    font-family: 'weird';
    color: rgb(176, 176, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.header{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

h2{
    font-size: 3rem;
    color: rgb(222, 66, 66)
}
h1, h2{
    margin: 0;
}
h1{
    font-size: 4rem;
}
.main{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    width: 25%;
    height: 100px;
    text-align: center;

}

.cube1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.cube2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p{
    font-size: 2rem;
}

#number1, #number2{
    font-size: 8rem;
}

.footer{
    margin-top: 300px;
}