*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FA812F;
    font-family: Rubik,sans-serif;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game{
    background-color: #FEF3E2;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
   
    
}

.box{
    font-family: Rubik, sans-serif;
    font-size: 150px;
    text-align: center;
    color: #FA4032;

   
}

#popup{
    position: fixed;
    width: minmax(400px,30%);
    background-color: #FAB12F;
    height: 40vh;
    padding: 20px;
    border-radius: 20px;
   
}

.insider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 4px solid #FA812F;
    border-radius: 20px;
    height: 100%;
    padding: 20px 10px;  
    color: white;
}


#prvi{
    font-size: 2em;
}
#drugi{
    font-size: 2.8em;
}

#playAgain{
    width: 45%;
    height: 30%;
    background-color: #FA812F;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1.5em;

}

#playAgain:hover{
    background-color: #f99451;
}
#playAgain:active{
    background-color: #FA812F;
}

.disabled{
    pointer-events: none;
}



@media(max-width:700px){
   .game{
        width: 300px;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
   }

   .box{
    font-size: 75px;
   }

   #popup{

    height: 20vh;
    width: 250px;
    padding: 15px;
   }
   #prvi{
    font-size: 1em;
   }
   #drugi{
    font-size: 1.3em;
   }

   #playAgain{
    font-size: 0.8em;
   }

   .insider{
    padding: 10px 0;
   }
}








.luborder{
    border: 4px solid #FA812F;
    border-top: none;
    border-left: none;
}
.ruborder{
    border: 4px solid #FA812F;
    border-top: none;
    border-right: none;
}

.dlborder{
    border: 4px solid #FA812F;
    border-left: none;
    border-bottom: none;
}

.drborder{
    border: 4px solid #FA812F;
    border-right: none;
    border-bottom: none;
}

.upborder{
    border-bottom: 4px solid #FA812F;
    
}

.leftborder{
    border-right: 4px solid #FA812F;
    
}

.rightborder{
    border-left: 4px solid #FA812F;
    
}


.botborder{
    border-top: 4px solid #FA812F;
    
}




