*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}




.container{
    display: flex;
    width: 100%;
    justify-content: center;
    
    
}

body{
    padding: 50px 0;
    background-color: #F3F3E0;
    font-family: 'Rubik', sans-serif;
    
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    padding-top: 20px;
    width: 80%;

    
   
}

.center > button{
    width: 200px;
    height: 100px;
    background-color: #608BC1;
    color: white;
    border-radius: 10px;
    border: 3px solid #133E87;
    font-size: 2rem;


    
}

#library{
    background-color: #608BC1;
    margin-top: 50px;
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 30%));
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-around;
    min-height: 600px;
    border-radius: 20px;
    border: 10px solid #133E87;

}

.book{
    background-color: #CBDCEB;
    width: 300px;
    height: 200px;
    padding: 20px 10px;
    gap: 10px;
    display: grid;
    grid-template-rows: repeat(3, 30%);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title title"
                        "author pages"
                        "wasRead delete";
    text-align:  center;
    margin-bottom: 10px;
    border: 5px solid #133E87;
    border-radius: 10px;
     color: #608BC1;
     font-size: 1.5em;
}

.book > .wasRead{
    color: #F3F3E0;
    border-radius: 5px;
    font-size: 0.7em;
    
}
.book > .delete{
    color: #608BC1;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8em;
}

.book > .delete:hover{
    background-color: #b1bbc8;
}

.book > .delete:active{
    background-color: rgb(165, 165, 165);
}
.title{
    grid-area: title;
}
.author{
    grid-area: author;
}
.pages{
    grid-area: pages;
}

.wasRead{
    grid-area: wasRead;
}
.delete{
    grid-area: delete;
    
}

form{

   width: 50%;
   text-align: center;
   padding: 10px;
   border: 6px solid #133E87;
   border-radius: 10px;
   background-color: #608BC1;
   font-size: 1.25em;
   color: #F3F3E0;
}


input[type = text]{
    width: 100%;
    margin: 10px 0;
    background-color: #CBDCEB;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #CBDCEB;
    color: #133E87;
  

}
input[type = submit]{
    width: 50%;
    height: 50px;
    margin-top: 10px;
    background-color: #133E87;
    border-radius: 5px;
    font-size: 1.1em;
    border: 2px solid #133E87;
    color: #F3F3E0;

}

input[type = submit]:hover{
    background-color:#3262b5 ;

}

input[type = submit]:active{
    background-color:#254c91 ;

}
input[type = checkbox]{
    width: 100%;        

}